select[disabled],
textarea[readonly],
textarea[disabled] {
    background: #eeeeee;
}


/*
  module SelectSearch
*/

.selectsearch-control {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    z-index: 999;
    .input-group {
        width: 100%;
        .form-control {
            height: 30px;
            padding: 6px 10px;
        }
    }
    .selectsearch-con {
        border: 1px solid #CCCCCC;
        background: #FFFFFF;
        position: absolute;
        width: 100%;
        display: none;
    }
    .selectsearch-title {
        height: 30px;
        padding: 6px 16px 6px 10px;
        border: 1px solid #cccccc;
        background: #ffffff;
        min-width: 200px;
        line-height: 18px;
        color: #858585;
        font-size: 14px;
        position: relative
    }
    .selectsearch-title:before {
        content: "\f0d7";
        display: block;
        color: #888;
        font-family: FontAwesome;
        font-size: 12px;
        position: absolute;
        top: 4px;
        right: 6px;
    }
    .selectsearch-list {
        padding: 0;
        margin: 0;
        overflow: auto;
        max-height: 300px;
        width: 100%;
        li {
            a {
                padding: 0 10px;
                display: block;
                color: #858585;
                line-height: 1.6;
                font-size: 14px;
                &:hover {
                    color: #FFFFFF;
                    background: #428bca;
                    text-decoration: none
                }
            }
        }
    }
}

.selectsearch-control-select .selectsearch-con {
    display: block;
}

.selectsearch-control-select .selectsearch-title {
    border: 1px solid #f59942;
}


/*
  module DatePicker
*/

.datetime-control {
    width: 240px;
    display: inline-block;
    position: relative;
    z-index: 99;
    vertical-align: middle;
    .datetime-control-select {
        border: 1px solid #EEEEEE;
        box-shadow: 0 0 5px rgba(0, 0, 0, .1);
        position: absolute;
        background: #FFFFFF;
    }
    .datetime-control-time {
        text-align: center
    }
    .datetime-control-time input[readonly] {
        background: #FFFFFF !important;
    }
    .datetime-control-button {
        text-align: center;
        padding: 10px;
    }
    .datetime-control-button button {
        margin: 0 8px;
    }
}


/*
  module pagination
*/

.pagination-select {
    padding: 0 0 0 30px;
}

.btn-right {
    float: right !important;
    margin-left: 10px !important;
}


/*
  module SelectMultiple
*/

.selectmultiple-control {
    width: 200px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    z-index: 10;
    .selectmultiple-control-select {
        position: absolute;
        left: 0;
        background: #FFFFFF;
        border: 1px solid #cccccc;
        min-width: 100%
    }
    .selectmultiple-control-items {
        padding: 10px 5px;
        margin: 0;
        list-style: none;
        max-height: 240px;
        overflow: auto
    }
    .selectmultiple-control-select {
        li {
            padding: 0px 5px;
            list-style: none;
            &.active {
                background: #EEEEEE;
            }
            label {
                margin: 0;
                padding: 4px 0;
                display: block;
            }
        }
    }
}


/*
  module treeview
*/

.tree .tree-folder-header .icon-ok,
.tree .tree-folder-header .icon-remove {
    color: #f9e8ce;
    width: 13px;
    height: 13px;
    line-height: 13px;
    font-size: 11px;
    text-align: center;
    border-radius: 3px;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    background-color: #fafafa;
    border: 1px solid #CCC;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    margin-left: 4px;
}

.tree .tree-folder-header-selected {
    background-color: rgba(98, 168, 209, 0.1);
}

.tree .tree-folder-header-selected .icon-ok {
    background-color: #f9a021;
    border-color: #f9a021;
    color: #FFF
}

.tree .disabled,
.tree .tree-folder .disabled {
    color: #bbbbbb;
    cursor: not-allowed;
}

.tree .disabled:hover,
.tree .tree-folder .disabled:hover {
    background: none;
}


/*
  module validation
*/

.form-tip {
    color: red;
    clear: both;
}

.form-tip-show {
    display: block;
}


/*
  module Multicolumn
*/

.box-wrap {
    width: 500px;
    height: 500px;
    overflow: auto;
    border: 1px solid rgb(213, 213, 213);
    padding: 10px;
    background: #fff;
}

.permissions-items {
    border: 1px solid #CCC;
    list-style: none;
    padding: 0;
    margin: 4px 0 0;
    height: 400px;
    overflow: auto
}

.permissions-items li {
    list-style: none;
    border-bottom: 1px solid #eee;
    padding: 6px 6px 6px 10px;
    line-height: 1.5;
}

.permissions-items li:hover {
    background: #127cc7;
    color: #FFF;
}

.permissions-items li.disabled {
    background: #ddd;
    color: #666666;
}

.permissions-items li:last-child {
    border-bottom: 0 none;
}

.icon-wrap {
    margin-top: 90px;
    width: 15%;
    float: left;
}

.permissions-icon {
    text-align: center;
    line-height: 100px;
}

.permissions-icon i {
    font-size: 64px;
}

.permissions-icon i.icon-exchange {
    color: #949494;
}

.permissions-title {
    margin: 0;
    height: 30px;
    line-height: 30px;
    font-weight: bold;
}

.permission-data-list {
    border: 1px solid #CCC;
    padding: 6px;
    margin: 0;
    list-style: none;
    cursor: pointer;
    min-height: 51px;
}

.permission-data-list li {
    list-style: none;
    border: 1px solid #ddd;
    background: #f1f1f1;
    border-radius: 2px;
    display: inline-block;
    margin: 4px;
    padding: 4px 8px;
}

.permission-data-list-diabled {
    background: #EEEEEE;
    cursor: default;
}