{
    "presets": [
        "env",
        "flow",
        "react",
        "es2015",
        "stage-3"
    ],
    "plugins": [
        "transform-react-jsx",
        "transform-runtime"
    ],
    "env": {
        "development": {
            "presets": ["react-hmre"]
        }
    }
}