
#前端过滤文件
.DS_Store
node_modules/
npm-debug.log
bundleIndex.js
bundleIndex.js.map
bundleCommon.js
bundleCommon.js.map
bundlenewIndex.js
bundlenewIndex.js.map
bundleLogin.js
bundleLogin.js.map

index.html
/target
dist

src/main/webapp/static