// tips样式
.tips-btn-wrap {
    position: relative;
}

.sidebar {
    width: 250px;
    &:before {
        width: 250px;
    }
}

.main-content {
    margin-left: 250px;
}

.tips-box {
    max-width: 1000px;
    display: block;
    padding: 8px;
}

.page-wrap {
    max-width: 1000px;
}

.navbar-fixed-top+.main-container {
    padding-top: 46px;
}

.breadcrumbs-fixed+.page-content {
    padding-top: 49px;
}

// 修改样式
.nav-list>li>a {
    height: 50px;
    line-height: 50px;
}

@import './module';