html,
body,
div,
strong,
b,
span,
i,
p,
h1,
h2,
h3,
h4,
h5,
h6,
em,
ol,
ul,
li,
dl,
dt,
dd,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    margin: 0;
    padding: 0;
    outline: 0;
    font-style: normal;
    font-size: 100%;
    line-height: 1;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    -webkit-text-size-adjust: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
}

a {
    text-decoration: none;
    font-family: "Microsoft Yahei";
    color: #333333;
}

a:hover {
    text-decoration: none;
}

img {
    border: 0;
    max-width: 100%;
    vertical-align: middle;
    max-height: 100%;
}

ul,
on,
li {
    list-style: none;
}